<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<HEAD>
	<TITLE>PORTANEO :: Tout votre internet en une seule page !</TITLE>
	<LINK rel="stylesheet" href="../../styles/main.css" type="text/css" />
	<LINK rel="alternate" type="application/rss+xml" title="PORTANEO: New modules" href="http://www.portaneo.com/portal/selections/portaneo.xml" />
	</HEAD>
<BODY>
<TABLE cellpadding=10 cellspacing=0 width="100%">
	<TR>
	<TD align=center valign=top>
	<TABLE cellpadding=0 cellspacing=0 border=0 width="100%">
		<TR>
		<TD align=left>
		<IMG src="../../images/logo2frs.gif" /><BR />
		</TD>
		</TR>
		<TR>
		<TD align=left valign=top style="padding-top:30px;">
<!--=======================================================================-->
<!--                   TYPE HERE YOUR USER GUIDE                         -->
<!--=======================================================================-->
		</TD>
		</TR>
	</TABLE>
	</TD>
	</TR>
</TABLE>
<SCRIPT type="text/javascript">
	if (navigator.appName=="Netscape")
	{	 top.outerWidth=550; top.outerHeight=550;} 
	else top.resizeTo(550,550);
	top.moveTo(30,30);
</SCRIPT>
</BODY>
</HTML>

