/* Schrift innerhalb eines Widget und seiner PREFS */



#showmenu, a {
	text-decoration:none;	
}


#solrlogo
{
  width:43px;
  position:relative;
  left:166px;
  top:6px;
  z-index:-1;
}

#dbrodinlogo {
  position:relative;
	/*top:5px;*/
  height:20px;
}

#rdfizelogo {
  position:relative;
	top:0px;
	top:5px;
  height:20px;
}

#linksdiv {
	position:relative;
	top:-27px;
	left:775px;
	width:45px;
}


/*
#BE8A4B #FFD363
*/
div#upperarea
{
  background-color:<?php print $RODIN_UPPERAREA_BGCOLOR; ?>;
} 


div#crashwarning {
  
  z-index: 120;
  background-color: white;
  border-color: black;
  border-width: 2px;
  border :2px;
  border-style:solid;
  position: fixed;
  top: 100px;
  
  width: 470px;
  padding: 30px;
  float:left;
  
  
  display: none;
  visibility: hidden;
}  

.error
{
  color: red;
} 
.errorexplanation
{
  color:#999;
} 

a.admicontact
{
  color: #3399FF;
}  

div#rodinmetasearch {
	/* Same as div#breadcrumbs in rodinBoard.css */
    width: 900px;
    position: relative;
    top: -18px;
    left: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    overflow: hidden;
}

div#rodinmetasearch input#rodinsearch_s {
	padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
	width: 500px;
	height: 40px;
	margin-left: 170px;
	vertical-align: middle;
	font-size:xx-large;
	margin:1px;
    border-radius: 6px 6px 6px 6px;
}

div#rodinmetasearch input#metasearchrodinbutton {
	padding: 3px;
	width: 140px;
	height: 40px;
	font-weight: bold;
	vertical-align: middle;
	font-size:large;
    border-radius: 6px 6px 6px 6px;
}

div#rodinmetasearch img#rodinSearchHelpButton {
	position: relative;
	left: 30px;
}

div#metasearchblock {
	position:absolute;
	top:0px;	
}

div#div_tagcloud_conn {
	overflow:hidden;
	position:relative;
	top:-12px;
	height:80px;
	visibility:visible;
}

#srcmultiplecontainer
{
	font-size:small;
	padding:0px;
	left:10px;
	position:relative;
	border:none;
	visibility:hidden;
	z-index:17;
	/*background-color:green;*/
}




div#helpbuttonid
{
	position:relative;
	/*top: -97px;//See code (browser dependent)*/
	z-index:17;
	border:none;
	/*padding:none;*/
}

div#explbuttonid
{
	position:relative;
	z-index:19;
	background:white;
	border:none;
	/*padding:0;*/
}

span.reftextarea {
	font-size:large;
	font-family:arial;
}

span.refdesc {
	font-size:large;
	font-family:arial;
}


span.restextarea
{
	border:inset;
}
srcmultiplecontainer.span.reftextarea
{
	background-color:#999999;
	font-family:Arial, Helvetica, sans-serif;
}

/* Autocomplete styles */

.autocomplete-w1 {
	background: url(../../../gen/u/autocomplete/shadow.png) no-repeat bottom right;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 6px 0 0 6px; /* IE6 fix: */
	_background: none;
	_margin: 1px 0 0 0;
}

.autocomplete {
	border: 1px solid #999;
	background: #FFF;
	cursor: default;
	text-align: left;
	max-height: 350px;
	overflow: auto;
	margin: -6px 6px 6px -6px; /* IE6 specific: */
	_height: 350px;
	_margin: 0;
	_overflow-x: hidden;
}

.autocomplete .selected {
	background: #F0F0F0;
}

.autocomplete div {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete strong {
	font-weight: normal;
	color: #3399FF;
}

.urigray
{
  color: #ccc;
}

.uribold
{
  color: black;
  font-weight: bold;
}

.uriliteral
{
  color: #3399FF;
  font-weight: bold;
}




/* RDF Section */


div.rdf_widgetinfo {
	padding:3px 3px 3px 3px;
	background-color:white;
	border-color:black;
	border-width:1px;
	border-style:solid;
	width:100%;
	max-height:300px;
	overflow:auto;
} 


div.limitstats {
	padding:3px 3px 3px 3px;
	background-color:white;
	border-color:black;
	border-width:1px;
	border-style:solid;
	width:100%;
	max-height:300px;
	overflow:auto;	
}


td.rdfsavedstat
{
	color:green;
}

td.rdfcalledstat
{
	color:red;
}

td.langdect {
	color:red;
}

td.langdectok {
	color:green;
}
td.langdectnok {
	color:red;
}

td.rdfhomogstat {
	color:#002166;
}

td.percentstat {
	color:gray;
	text-align:right;
}


div.graphviz {
	padding:3px 3px 3px 3px;
	background-color:white;
	border-color:black;
	border-width:1px;
} 




div#divLOGGING {
	padding:3px 3px 3px 3px;
	border:2px solid black;
	width:100%;
	max-height:300px;
	/*visibility:hidden;
	display:none;*/
	visibility:visible;
	display:block;
	background-color:#eee;
	overflow:auto
}


span.triple {
	color:#9a9;
}

span.numofobjects {
	color:gray;
}

div.tripletable
{
	background-color:#FFeeee;
	width:100%;
	max-height:500px;
	overflow:auto;
}

div.headertripelpage
{
	background-color:<?php print $TRIPLEPAGE_COLOR_BG_DARKER;?> ;
	padding:2px;
	width:800px;
	overflow:auto;
}


body.triplepage_rodin_a
{
	margin:3px;
	background-color:<?php print $TRIPLEPAGE_RODINA_COLOR_BG_DARKER;?> ;
}

body.triplepage_rodin_e
{
	margin:3px;
	background-color:<?php print $TRIPLEPAGE_RODINE_COLOR_BG_DARKER;?> ;
}

body.triplepage_rodin
{
	margin:3px;
	background-color:<?php print $TRIPLEPAGE_RODIN_COLOR_BG_DARKER;?> ;
}



hr.triplepage
{
	color:lightgray;
}

table.triplepagetable_rodin
{
	background-color: <?php print $TRIPLEPAGE_RODIN_COLOR_BG_LIGHTER;?> ;
	padding:2px;
}

table.triplepagetable_rodin_e
{
	background-color: <?php print $TRIPLEPAGE_RODINE_COLOR_BG_LIGHTER;?> ;
	padding:2px;
}

table.triplepagetable_rodin_a
{
	background-color: <?php print $TRIPLEPAGE_RODINA_COLOR_BG_LIGHTER;?> ;
	padding:2px;
}




table.triplepagetable_rodin tr.even_rodin {
    background-color: <?php print $TRIPLEPAGE_RODIN_COLOR_BG_WHITE; ?>;
}

table.triplepagetable_rodin_e tr.even_rodin_e {
    background: <?php print $TRIPLEPAGE_RODINE_COLOR_BG_WHITE; ?>;
}

table.triplepagetable_rodin_a tr.even_rodin_a {
    background-color: <?php print $TRIPLEPAGE_RODINA_COLOR_BG_WHITE; ?>;
}



table#triplepageframe tbody tr td span.triplepage
{
	color:gray;
	font-size:small;	
}

span.lodsparqlendpointtitle, 
table#triplepageframe tbody tr td span.triplepagei
{
	color:gray;
	font-style:italic;
	font-size:small;	
}


div.triplepagediv
{
	border: 1px solid black;
	background-color:<?php print $TRIPLEPAGE_COLOR_BG_LIGHTER;?>
}


div#header div
{
	color:black;
	font-size:small;
	font-style:italic;
	margin-top:5px;
	margin-bottom:20px;
}

div#header h2#title
{
	margin:0;
	margin-top:5px;
	margin-bottom:2px;
	color:black;
}

.triplepagetable a 
{
	text-decoration:none;
}

a.about small,
.triplepagetable a small 
{
	color: <? print $TRIPLEPAGE_COLOR_NSLINK; ?>;
}

ul.rodinpedia
{
 margin:0;
}

div#headerlogo
{
}

a.mantisissueurl
{
	text-decoration:none;
	color:#AAAAAA;
}