@charset "utf-8";
/* CSS Document */
@CHARSET "UTF-8";

/*################################# HTML RESET ###########################*/
	/* Reset all HTML Elements */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
/*	color:#333; */
	font-style: inherit;
	font-size: 12px;
	line-height:16px;
	font-family: Arial;
	cursor: default;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

input,select,textarea {
	font-family: Arial;
}

a {
	cursor: pointer !important;
	cursor: hand !important;
	text-decoration:none;
}

/* KJ CHECK: v4 doesn't have: p, h1, h2, h3 { cursor:text; pointer:text; }*/
body {
	line-height: 1;
	color: #ccc;
	background: #ffffff;
}

ol,ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}  /* cellpadding / spacing = 0 still needed in html */
caption,th,td {
	text-align: left;
	vertical-align: top;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

/*########################################################################*/


/*####################################################################################*/
	/* IE 7 Corrections */
*+html myClassWhatever {
	/* CSS */
}

/* IE 6 Corrections */
* html myClassWhatever {
	/* CSS */
}

