
.autocomplete-w1 { font-size:large; background:url(./shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete {	font-size:large; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { font-size:large;  background:#F0F0F0; }
.autocomplete div { font-size:large;  padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#c00; }
a.seemore {
/*	background-color: #EAA400; */	
	color: gray;
	font-style:italic;
	font-size:medium ;
}

.srcname {
	color:lightgray;
	font-style:italic;
	font-size:large; 
}
